In [1]:
import pandas as pd

In [2]:
with open('lindarollover.csv', 'r') as fin:
    data = fin.read().splitlines(True)

data = data[2:]
data = data[:-2]
with open('lindarollover2.csv', 'w') as fout:
    fout.writelines(data)

In [3]:
df = pd.read_csv('lindarollover2.csv')
#df["Expiration/Maturity"]
df2=df[["Symbol","Description","Quantity","Expiration/Maturity"]]
df2

df3=df2.sort_values(by=["Expiration/Maturity"],ascending=False)
df3

,Symbol,Description,Quantity,Expiration/Maturity
4,912828V23,US TREASUR NT 2.25%12/23UST NOTE DUE 12/31/23,"17,000",12/31/2023
1,912796ZN2,US TREASURY BILL23U S T BILL DUE 12/28/23,"33,000",12/28/2023
7,91282CDN8,US TREASUR NT 1%12/24UST NOTE DUE 12/15/24,"29,000",12/15/2024
9,91282CHV6,US TREASUR NT 5%08/25UST NOTE DUE 08/31/25,"19,000",08/31/2025
3,912828D56,US TREASU NT 2.375%08/24UST NOTE DUE 08/15/24,"71,000",08/15/2024
8,91282CEX5,US TREASUR NT 3%06/24UST NOTE DUE 06/30/24,"33,000",06/30/2024
6,91282CBV2,US TREASU NT 0.375%04/24UST NOTE DUE 04/15/24,"33,000",04/15/2024
5,912828W71,US TREASU NT 2.125%03/24UST NOTE DUE 03/31/24,"17,000",03/31/2024
2,912810ET1,US TREASURY 7.625%02/25UST BOND DUE 02/15/25,"31,000",02/15/2025
0,61690DBB3,MORGAN STANLEY BA 5.2%25CD FDIC INS DUE 01/06/...,"33,000",01/06/2025
10,SNOXX,SCHWAB TREASURY OBLIG MONEY INV,370.97,--

In [4]:
df4=df3[df3["Expiration/Maturity"]!="--"]
df4

,Symbol,Description,Quantity,Expiration/Maturity
4,912828V23,US TREASUR NT 2.25%12/23UST NOTE DUE 12/31/23,"17,000",12/31/2023
1,912796ZN2,US TREASURY BILL23U S T BILL DUE 12/28/23,"33,000",12/28/2023
7,91282CDN8,US TREASUR NT 1%12/24UST NOTE DUE 12/15/24,"29,000",12/15/2024
9,91282CHV6,US TREASUR NT 5%08/25UST NOTE DUE 08/31/25,"19,000",08/31/2025
3,912828D56,US TREASU NT 2.375%08/24UST NOTE DUE 08/15/24,"71,000",08/15/2024
8,91282CEX5,US TREASUR NT 3%06/24UST NOTE DUE 06/30/24,"33,000",06/30/2024
6,91282CBV2,US TREASU NT 0.375%04/24UST NOTE DUE 04/15/24,"33,000",04/15/2024
5,912828W71,US TREASU NT 2.125%03/24UST NOTE DUE 03/31/24,"17,000",03/31/2024
2,912810ET1,US TREASURY 7.625%02/25UST BOND DUE 02/15/25,"31,000",02/15/2025
0,61690DBB3,MORGAN STANLEY BA 5.2%25CD FDIC INS DUE 01/06/...,"33,000",01/06/2025

In [5]:
from datetime import datetime
#df4["maturity"] = pd.to_datetime(df4["Expiration/Maturity"])
df4.loc[:,("maturity")] = pd.to_datetime(df4["Expiration/Maturity"])
df4.loc[:,("maturityq")] = pd.PeriodIndex(df4["maturity"], freq='Q')
df4.loc[:,("Quantity")] = df4["Quantity"].str.replace(',','')
df4.loc[:,("Quantity")] = df4["Quantity"].astype(int)
df4.sort_values(by=["maturity"],ascending=False)
#df4.groupby(by=['maturityq']).agg(['count'])
df5=df4[["maturityq","Quantity"]]
df5
#df5.groupby(by=['maturityq']).agg(['sum'])

/tmp/ipykernel_24156/95321214.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.loc[:,("maturity")] = pd.to_datetime(df4["Expiration/Maturity"])
/tmp/ipykernel_24156/95321214.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.loc[:,("maturityq")] = pd.PeriodIndex(df4["maturity"], freq='Q')

  maturityq Quantity
4    2023Q4    17000
1    2023Q4    33000
7    2024Q4    29000
9    2025Q3    19000
3    2024Q3    71000
8    2024Q2    33000
6    2024Q2    33000
5    2024Q1    17000
2    2025Q1    31000
0    2025Q1    33000

In [6]:


df5.groupby(by=['maturityq']).sum()

          Quantity
maturityq
2023Q4       50000
2024Q1       17000
2024Q2       66000
2024Q3       71000
2024Q4       29000
2025Q1       64000
2025Q3       19000