In [104]:
print(42)

42

In [116]:
import pandas as pd

In [141]:
with open('ira.csv', 'r') as fin:
    data = fin.read().splitlines(True)

data = data[1:]
data = data[:-1]
with open('ira2.csv', 'w') as fout:
    fout.writelines(data)

In [142]:
df = pd.read_csv('ira2.csv')

In [118]:
with open('main.csv', 'r') as fin:
    data = fin.read().splitlines(True)

data = data[1:]
data = data[:-1]
with open('main2.csv', 'w') as fout:
    fout.writelines(data)

In [139]:
dfmain = pd.read_csv('main2.csv')

In [138]:
dfmain['Gains']=dfmain['Quantity'].replace('[\$,]', '', regex=True).astype(float)+(dfmain['Amount'].replace('[\$,]', '', regex=True).astype(float))

In [137]:
dfmain['TDate']=dfmain['Description'].str.extract(r'(US TREASURY BILL23U S T BILL DUE )(.*)')[1]

In [135]:
# main account gains
dfbuymain=dfmain.query('Description.str.contains("US TREASURY") and Action=="Buy" and not TDate.isnull()')
dfbuymain

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount,Gains,TDate
3,05/11/2023,Buy,912796YT0,US TREASURY BILL23U S T BILL DUE 11/02/23,"24,000",$97.6523,NaN,-$23436.54,563.46,11/02/23
11,05/04/2023,Buy,912796XY0,US TREASURY BILL23U S T BILL DUE 08/10/23,"100,000",$98.6461,NaN,-$98646.07,1353.93,08/10/23
21,04/28/2023,Buy,912796Y37,US TREASURY BILL23U S T BILL DUE 08/03/23,"258,000",$98.7008,NaN,-$254648.11,3351.89,08/03/23
92,02/23/2023,Buy,912796ZF9,US TREASURY BILL23U S T BILL DUE 05/25/23,"28,000",$98.8268,NaN,-$27671.49,328.51,05/25/23
108,02/15/2023,Buy,912797FF9,US TREASURY BILL23U S T BILL DUE 05/23/23,"100,000",$98.7567,NaN,-$98756.67,1243.33,05/23/23
114,02/13/2023,Buy,912796Z36,US TREASURY BILL23U S T BILL DUE 08/17/23,"100,000",$97.5685,NaN,-$97568.53,2431.47,08/17/23
166,11/10/2022,Buy,912796Y60,US TREASURY BILL23U S T BILL DUE 02/21/23,"8,000",$98.8853,NaN,-$7910.83,89.17,02/21/23
169,11/10/2022,Buy,912796ZE2,US TREASURY BILL23U S T BILL DUE 05/11/23,"62,000",$97.8432,NaN,-$60662.81,1337.19,05/11/23
170,11/10/2022,Buy,912796XZ7,US TREASURY BILL23U S T BILL DUE 02/09/23,"62,000",$99.0187,NaN,-$61391.60,608.40,02/09/23
174,10/31/2022,Buy,912796XT1,US TREASURY BILL23U S T BILL DUE 02/02/23,"125,000",$98.9663,NaN,-$123707.88,1292.12,02/02/23
175,10/31/2022,Buy,912796YW3,US TREASURY BILL23U S T BILL DUE 05/04/23,"100,000",$97.7695,NaN,-$97769.54,2230.46,05/04/23
176,10/31/2022,Buy,912796ZU6,US TREASURY BILL23U S T BILL DUE 02/14/23,"100,000",$98.821,NaN,-$98821.08,1178.92,02/14/23
180,10/26/2022,Buy,912796YV5,US TREASURY BILL23U S T BILL DUE 04/27/23,"255,000",$97.8311,NaN,-$249469.48,5530.52,04/27/23
205,08/18/2022,Buy,912796YA1,US TREASURY BILL23U S T BILL DUE 02/16/23,"35,000",$98.498,NaN,-$34474.30,525.70,02/16/23

In [136]:
# main total gains
dfbuymain['Gains'].sum()

22065.07

In [143]:
dfira = pd.read_csv('ira2.csv')

In [144]:
dfira['Gains']=dfira['Quantity'].replace('[\$,]', '', regex=True).astype(float)+(dfira['Amount'].replace('[\$,]', '', regex=True).astype(float))

In [145]:
dfira['TDate']=dfira['Description'].str.extract(r'(US TREASURY BILL23U S T BILL DUE )(.*)')[1]

In [146]:
# ira account gains
dfbuyira=dfira.query('Description.str.contains("US TREASURY") and Action=="Buy" and not TDate.isnull()')
dfbuyira

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount,Gains,TDate
76,04/28/2023,Buy,912797GF8,US TREASURY BILL23U S T BILL DUE 08/08/23,"180,000",$98.6422,NaN,-$177555.94,2444.06,08/08/23
207,02/23/2023,Buy,912796ZF9,US TREASURY BILL23U S T BILL DUE 05/25/23,"24,000",$98.8268,NaN,-$23718.42,281.58,05/25/23
219,02/08/2023,Buy,912796XY0,US TREASURY BILL23U S T BILL DUE 08/10/23,"218,000",$97.6085,NaN,-$212786.46,5213.54,08/10/23
244,11/10/2022,Buy,912796XZ7,US TREASURY BILL23U S T BILL DUE 02/09/23,"5,000",$99.0162,NaN,-$4950.81,49.19,02/09/23
247,11/10/2022,Buy,912796ZE2,US TREASURY BILL23U S T BILL DUE 05/11/23,"24,000",$97.8407,NaN,-$23481.78,518.22,05/11/23
248,11/10/2022,Buy,912796Y60,US TREASURY BILL23U S T BILL DUE 02/21/23,"24,000",$98.8847,NaN,-$23732.33,267.67,02/21/23
266,10/26/2022,Buy,912796YV5,US TREASURY BILL23U S T BILL DUE 04/27/23,"178,000",$97.8273,NaN,-$174132.73,3867.27,04/27/23

In [147]:
# ira total gains
dfbuyira['Gains'].sum()

12641.529999999995

In [18]:
df.head()

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount
0,05/12/2023,Sell,TFC,TRUIST FINL CORP,22,$27.30,NaN,$600.60
1,05/12/2023,Sell,CCI,CROWN CASTLE INC REIT,14,$116.6706,$0.01,$1633.38
2,05/12/2023,Sell,CME,CME GROUP INC CLASS A,11,$184.752,$0.02,$2032.25
3,05/12/2023,Sell,693475BP9,PNC FINL SVCS GR 6.25%,"3,000",$84.7937,NaN,$2575.58
4,05/12/2023,Sell,48128BAN1,JPMORGAN CHASE & 3.65%,"3,000",$86.2667,NaN,$2610.81

In [61]:
df.query('Symbol == "912796ZE2"')

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount
53,05/11/2023,Full Redemption Adj,912796ZE2,US TREASURY BILXXX**MATURED**,NaN,NaN,NaN,$24000.00
54,05/11/2023,Full Redemption,912796ZE2,US TREASURY BILXXX**MATURED**,"-24,000",NaN,NaN,NaN
242,11/10/2022,Buy,912796ZE2,US TREASURY BILL23U S T BILL DUE 05/11/23,"24,000",$97.8407,NaN,-$23481.78

In [99]:
df['Gains']=df['Quantity'].replace('[\$,]', '', regex=True).astype(float)+(df['Amount'].replace('[\$,]', '', regex=True).astype(float))

In [100]:
df

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount,Gains
0,05/12/2023,Sell,TFC,TRUIST FINL CORP,22,$27.30,NaN,$600.60,622.60
1,05/12/2023,Sell,CCI,CROWN CASTLE INC REIT,14,$116.6706,$0.01,$1633.38,1647.38
2,05/12/2023,Sell,CME,CME GROUP INC CLASS A,11,$184.752,$0.02,$2032.25,2043.25
3,05/12/2023,Sell,693475BP9,PNC FINL SVCS GR 6.25%,"3,000",$84.7937,NaN,$2575.58,5575.58
4,05/12/2023,Sell,48128BAN1,JPMORGAN CHASE & 3.65%,"3,000",$86.2667,NaN,$2610.81,5610.81
...,...,...,...,...,...,...,...,...,...
3458,05/20/2019,Cash Dividend,ET,ENERGY TRANSFER LP,NaN,NaN,NaN,$29.28,NaN
3459,05/16/2019,Qualified Dividend,AAPL,APPLE INC,NaN,NaN,NaN,$30.80,NaN
3460,05/16/2019 as of 05/15/2019,Bank Interest,NaN,BANK INT 041619-051519 SCHWAB BANK,NaN,NaN,NaN,$1.98,NaN
3461,05/15/2019,Cash Dividend,PAA,PLAINS ALL AMERICAN P LP,NaN,NaN,NaN,$18.00,NaN
3462,05/15/2019,Qualified Dividend,PG,PROCTER & GAMBLE,NaN,NaN,NaN,$74.59,NaN

In [101]:
# ira account gains
dfbuy=df.query('Description.str.contains("US TREASURY") and Action=="Buy"')
dfbuy

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount,Gains
56,05/09/2023,Buy,912796CX5,US TREASURY BILL24U S T BILL DUE 04/18/24,"100,000",$95.5782,NaN,-$95578.17,4421.83
71,04/28/2023,Buy,912797GF8,US TREASURY BILL23U S T BILL DUE 08/08/23,"180,000",$98.6422,NaN,-$177555.94,2444.06
202,02/23/2023,Buy,912796ZF9,US TREASURY BILL23U S T BILL DUE 05/25/23,"24,000",$98.8268,NaN,-$23718.42,281.58
214,02/08/2023,Buy,912796XY0,US TREASURY BILL23U S T BILL DUE 08/10/23,"218,000",$97.6085,NaN,-$212786.46,5213.54
239,11/10/2022,Buy,912796XZ7,US TREASURY BILL23U S T BILL DUE 02/09/23,"5,000",$99.0162,NaN,-$4950.81,49.19
242,11/10/2022,Buy,912796ZE2,US TREASURY BILL23U S T BILL DUE 05/11/23,"24,000",$97.8407,NaN,-$23481.78,518.22
243,11/10/2022,Buy,912796Y60,US TREASURY BILL23U S T BILL DUE 02/21/23,"24,000",$98.8847,NaN,-$23732.33,267.67
261,10/26/2022,Buy,912796YV5,US TREASURY BILL23U S T BILL DUE 04/27/23,"178,000",$97.8273,NaN,-$174132.73,3867.27
293,07/28/2022,Buy,912796W54,US TREASURY BILL22U S T BILL DUE 11/10/22,"70,000",$99.3022,NaN,-$69511.55,488.45
467,03/21/2022,Buy,912796W88,US TREASURY BILL22U S T BILL DUE 07/05/22,"25,000",$99.8574,NaN,-$24964.37,35.63

In [ ]:
2023: 13162

In [90]:
dfgains=dfbuy['Quantity'].replace('[\$,]', '', regex=True).astype(float)+(dfbuy['Amount'].replace('[\$,]', '', regex=True).astype(float))
#df[df.columns[1:]] = df[df.columns[1:]].replace('[\$,]', '', regex=True).astype(float)

In [91]:
dfgains

56     4421.83
71     2444.06
202     281.58
214    5213.54
239      49.19
242     518.22
243     267.67
261    3867.27
293     488.45
467      35.63
dtype: float64

In [76]:
dfgains.index

Index([56, 71, 202, 214, 239, 242, 243, 261, 293, 467], dtype='int64')