In [47]:
import pandas as pd

In [48]:
with open('lindarollover.csv', 'r') as fin:
    data = fin.read().splitlines(True)

data = data[2:]
data = data[:-2]
with open('lindarollover2.csv', 'w') as fout:
    fout.writelines(data)

In [49]:
df = pd.read_csv('lindarollover2.csv')
#df["Expiration/Maturity"]
df2=df[["Symbol","Description","Quantity","Expiration/Maturity"]]
df2

,Symbol,Description,Quantity,Expiration/Maturity
0,61690DBB3,MORGAN STANLEY BA 5.2%25CD FDIC INS DUE 01/06/...,"33,000",01/06/2025
1,912796ZN2,US TREASURY BILL23U S T BILL DUE 12/28/23,"33,000",12/28/2023
2,912810ET1,US TREASURY 7.625%02/25UST BOND DUE 02/15/25,"31,000",02/15/2025
3,912828D56,US TREASU NT 2.375%08/24UST NOTE DUE 08/15/24,"71,000",08/15/2024
4,912828V23,US TREASUR NT 2.25%12/23UST NOTE DUE 12/31/23,"17,000",12/31/2023
5,912828W71,US TREASU NT 2.125%03/24UST NOTE DUE 03/31/24,"17,000",03/31/2024
6,91282CBV2,US TREASU NT 0.375%04/24UST NOTE DUE 04/15/24,"33,000",04/15/2024
7,91282CDN8,US TREASUR NT 1%12/24UST NOTE DUE 12/15/24,"29,000",12/15/2024
8,91282CEX5,US TREASUR NT 3%06/24UST NOTE DUE 06/30/24,"33,000",06/30/2024
9,91282CHV6,US TREASUR NT 5%08/25UST NOTE DUE 08/31/25,"19,000",08/31/2025
10,SNOXX,SCHWAB TREASURY OBLIG MONEY INV,370.97,--

In [50]:
df3=df2.sort_values(by=["Expiration/Maturity"],ascending=False)
df3

,Symbol,Description,Quantity,Expiration/Maturity
4,912828V23,US TREASUR NT 2.25%12/23UST NOTE DUE 12/31/23,"17,000",12/31/2023
1,912796ZN2,US TREASURY BILL23U S T BILL DUE 12/28/23,"33,000",12/28/2023
7,91282CDN8,US TREASUR NT 1%12/24UST NOTE DUE 12/15/24,"29,000",12/15/2024
9,91282CHV6,US TREASUR NT 5%08/25UST NOTE DUE 08/31/25,"19,000",08/31/2025
3,912828D56,US TREASU NT 2.375%08/24UST NOTE DUE 08/15/24,"71,000",08/15/2024
8,91282CEX5,US TREASUR NT 3%06/24UST NOTE DUE 06/30/24,"33,000",06/30/2024
6,91282CBV2,US TREASU NT 0.375%04/24UST NOTE DUE 04/15/24,"33,000",04/15/2024
5,912828W71,US TREASU NT 2.125%03/24UST NOTE DUE 03/31/24,"17,000",03/31/2024
2,912810ET1,US TREASURY 7.625%02/25UST BOND DUE 02/15/25,"31,000",02/15/2025
0,61690DBB3,MORGAN STANLEY BA 5.2%25CD FDIC INS DUE 01/06/...,"33,000",01/06/2025
10,SNOXX,SCHWAB TREASURY OBLIG MONEY INV,370.97,--

In [51]:
df4=df3[df3["Expiration/Maturity"]!="--"]
df4

,Symbol,Description,Quantity,Expiration/Maturity
4,912828V23,US TREASUR NT 2.25%12/23UST NOTE DUE 12/31/23,"17,000",12/31/2023
1,912796ZN2,US TREASURY BILL23U S T BILL DUE 12/28/23,"33,000",12/28/2023
7,91282CDN8,US TREASUR NT 1%12/24UST NOTE DUE 12/15/24,"29,000",12/15/2024
9,91282CHV6,US TREASUR NT 5%08/25UST NOTE DUE 08/31/25,"19,000",08/31/2025
3,912828D56,US TREASU NT 2.375%08/24UST NOTE DUE 08/15/24,"71,000",08/15/2024
8,91282CEX5,US TREASUR NT 3%06/24UST NOTE DUE 06/30/24,"33,000",06/30/2024
6,91282CBV2,US TREASU NT 0.375%04/24UST NOTE DUE 04/15/24,"33,000",04/15/2024
5,912828W71,US TREASU NT 2.125%03/24UST NOTE DUE 03/31/24,"17,000",03/31/2024
2,912810ET1,US TREASURY 7.625%02/25UST BOND DUE 02/15/25,"31,000",02/15/2025
0,61690DBB3,MORGAN STANLEY BA 5.2%25CD FDIC INS DUE 01/06/...,"33,000",01/06/2025

In [70]:
from datetime import datetime
#df4["maturity"] = pd.to_datetime(df4["Expiration/Maturity"])
df4.loc[:,("maturity")] = pd.to_datetime(df4["Expiration/Maturity"])
df4.loc[:,("maturityq")] = pd.PeriodIndex(df4["maturity"], freq='Q')
df4.sort_values(by=["maturity"],ascending=False)
#df4.groupby(by=['maturityq']).agg(['count'])
df5=df4[["maturityq","Quantity"]]
df5.groupby(by=['maturityq']).agg(['sum'])

          Quantity
               sum
maturityq
2023Q4       50000
2024Q1       17000
2024Q2       66000
2024Q3       71000
2024Q4       29000
2025Q1       64000
2025Q3       19000

In [55]:
df4.loc[:,("Quantity")] = df4["Quantity"].str.replace(',','')
df4.loc[:,("Quantity")] = df4["Quantity"].astype(int)
df4
df4.groupby(by=['maturityq']).sum()

AttributeError: Can only use .str accessor with string values!

In [6]:
dfira = pd.read_csv('ira2.csv')

In [7]:
dfira['Gains']=dfira['Quantity'].replace('[\$,]', '', regex=True).astype(float)+(dfira['Amount'].replace('[\$,]', '', regex=True).astype(float))

In [14]:
dfira['TDate']=dfira['Description'].str.extract(r'(US TREASURY BILL23U S T BILL DUE )(.*)')[1]

In [15]:
# ira account gains
dfbuyira=dfira.query('Description.str.contains("US TREASURY") and Action=="Buy" and not TDate.isnull()')
dfbuyira

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount,Gains,TDate
80,04/28/2023,Buy,912797GF8,US TREASURY BILL23U S T BILL DUE 08/08/23,"180,000",$98.6422,NaN,-$177555.94,2444.06,08/08/23
211,02/23/2023,Buy,912796ZF9,US TREASURY BILL23U S T BILL DUE 05/25/23,"24,000",$98.8268,NaN,-$23718.42,281.58,05/25/23
223,02/08/2023,Buy,912796XY0,US TREASURY BILL23U S T BILL DUE 08/10/23,"218,000",$97.6085,NaN,-$212786.46,5213.54,08/10/23
248,11/10/2022,Buy,912796XZ7,US TREASURY BILL23U S T BILL DUE 02/09/23,"5,000",$99.0162,NaN,-$4950.81,49.19,02/09/23
251,11/10/2022,Buy,912796ZE2,US TREASURY BILL23U S T BILL DUE 05/11/23,"24,000",$97.8407,NaN,-$23481.78,518.22,05/11/23
252,11/10/2022,Buy,912796Y60,US TREASURY BILL23U S T BILL DUE 02/21/23,"24,000",$98.8847,NaN,-$23732.33,267.67,02/21/23
270,10/26/2022,Buy,912796YV5,US TREASURY BILL23U S T BILL DUE 04/27/23,"178,000",$97.8273,NaN,-$174132.73,3867.27,04/27/23

In [16]:
# ira total gains
dfbuyira['Gains'].sum()

12641.529999999995