In [22]:
import pandas as pd
import tempfile
from io import StringIO
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)

In [23]:
def importdf(filename):
    with open(filename, 'r') as fin:
        data = fin.read().splitlines(True)

        data = data[2:]
        data = data[:-2]

        tf = tempfile.NamedTemporaryFile(mode='w')
        tf.writelines(data)
        tf.seek(0)
        df = pd.read_csv(tf.name)
        tf.close()
        return(df)
        #df = pd.read_csv

In [24]:
df1 = importdf('lindarollover.csv')
df2 = importdf('main.csv')
df3 = importdf('ericira.csv')
df = pd.concat([df1, df2, df3])

In [25]:
df=df[df["Expiration/Maturity"]!="--"]

In [26]:
from datetime import datetime

df.loc[:,("maturity")] = pd.to_datetime(df["Expiration/Maturity"])
df.loc[:,("Quantity")] = df["Quantity"].str.replace(',','')
df=df[["maturity","Quantity"]]

In [27]:
#df=df.set_index(['maturity'])
#print(df5['maturity'].min())
#print(df5['maturity'].max())

#print(df5.index)
#print(d.index)
#d2 = d.asfreq(freq='90D',fill_value=42)
#display(d)
#display(d2)

idx = pd.date_range(df["maturity"].min(),df["maturity"].max(),freq='90D')
df = df.set_index(["maturity"])

#display(idx)
#df = df.reindex(idx)
#df = df.asfreq('d',fill_value=0)
#display(d3)
#df6['id'] = range(1,1+len(df6))
#df6.insert(0,'id',range(1,1 + len(df6)))
#df6=df6.set_index('id')
##display(df6)
#df.reset_index(inplace=True)
#df.set_index('maturity', drop=False)

In [28]:
df.loc[:,("maturityq")] = pd.PeriodIndex(df.index, freq='Q')
df=df.sort_values(by=["maturity"],ascending=True)
##display(df)
df.loc[:,("Quantityi")] = df["Quantity"].astype(int)
df = df[["maturityq","Quantityi"]]
df
results = df.groupby(by=['maturityq']).sum()
display(results)

           Quantityi
maturityq
2023Q4         80000
2024Q1        651000
2024Q2        426000
2024Q3        641000
2024Q4        186000
2025Q1        695000
2025Q2        141000
2025Q3        346000
2025Q4         24000
2026Q1        158000
2026Q2         24000
2026Q3        104000
2026Q4         24000
2027Q1         85000
2027Q3         35000
2027Q4         33000
2028Q1         50000
2029Q1          5000
2033Q1          4000
2041Q1          3000