In [179]:
import pandas as pd
import tempfile
from io import StringIO
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)

In [180]:
def importdf(filename):
    with open(filename, 'r') as fin:
        data = fin.read().splitlines(True)

        data = data[2:]
        data = data[:-2]

        tf = tempfile.NamedTemporaryFile(mode='w')
        tf.writelines(data)
        tf.seek(0)
        df = pd.read_csv(tf.name)
        tf.close()
        return(df)
        #df = pd.read_csv

In [181]:
df1 = importdf('lindarollover.csv')
df2 = importdf('main.csv')
df3 = importdf('ericira.csv')
print(type(df1))
df = pd.concat([df1, df2, df3])
display(df)

<class 'pandas.core.frame.DataFrame'>

,Symbol,Description,Quantity,Price,Price Change $,Price Change %,Market Value,Day Change %,Day Change $,Cost Basis,Gain/Loss %,Gain/Loss $,Ratings,Reinvest Dividends?,Capital Gains?,% Of Account,Expiration/Maturity,Dividend Yield,Last Dividend,Ex-Dividend Date,Intrinsic Value,Security Type
0,61690DBB3,MORGAN STANLEY BA 5.2%25CD FDIC INS DUE 01/06/...,"33,000",$99.7283,-$0.0004,NaN,$32910.34,NaN,-$0.13,$33000.00,-0.27%,-$89.66,NR / NR,No,--,10.52%,01/06/2025,--,--,--,--,Fixed Income
1,912796ZN2,US TREASURY BILL23U S T BILL DUE 12/28/23,"33,000",$99.44003,$0.04421,0.04%,$32815.21,0.04%,$14.59,$31561.86,3.97%,$1253.35,NR / NR,No,--,10.49%,12/28/2023,--,--,--,--,Fixed Income
2,912810ET1,US TREASURY 7.625%02/25UST BOND DUE 02/15/25,"31,000",$102.95312,-$0.01562,-0.02%,$31915.47,-0.02%,-$4.84,$31973.09,-0.18%,-$57.62,NR / Aaa,No,--,10.2%,02/15/2025,--,--,--,--,Fixed Income
3,912828D56,US TREASU NT 2.375%08/24UST NOTE DUE 08/15/24,"71,000",$97.85938,$0.01562,0.02%,$69480.16,0.02%,$11.09,$69139.89,0.49%,$340.27,NR / Aaa,No,--,22.21%,08/15/2024,--,--,--,--,Fixed Income
4,912828V23,US TREASUR NT 2.25%12/23UST NOTE DUE 12/31/23,"17,000",$99.625,$0.03125,0.03%,$16936.25,0.03%,$5.31,$16702.5,1.4%,$233.75,NR / Aaa,No,--,5.41%,12/31/2023,--,--,--,--,Fixed Income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,91282CGG0,US TREASU NT 4.125%01/25UST NOTE DUE 01/31/25,"255,000",$98.75,-$0.03125,-0.03%,$251812.5,-0.03%,-$79.69,$253105.01,-0.51%,-$1292.51,NR / Aaa,No,--,10.17%,01/31/2025,--,--,--,--,Fixed Income
38,91282CGU9,US TREASU NT 3.875%03/25UST NOTE DUE 03/31/25,"75,000",$98.32812,-$0.03125,-0.03%,$73746.09,-0.03%,-$23.44,$73832.68,-0.12%,-$86.59,NR / Aaa,No,--,2.98%,03/31/2025,--,--,--,--,Fixed Income
39,91282CHD6,US TREASUR NT 4.25%05/25UST NOTE DUE 05/31/25,"96,000",$98.79688,-$0.0625,-0.06%,$94845.00,-0.06%,-$60.00,$95527.32,-0.71%,-$682.32,NR / Aaa,No,--,3.83%,05/31/2025,--,--,--,--,Fixed Income
40,91282CJB8,US TREASUR NT 5%09/25UST NOTE DUE 09/30/25,"75,000",$100.09375,-$0.09375,-0.09%,$75070.31,-0.09%,-$70.31,$74853.55,0.29%,$216.76,NR / Aaa,No,--,3.03%,09/30/2025,--,--,--,--,Fixed Income
41,SNOXX,SCHWAB TREASURY OBLIG MONEY INV,"1,127.81",$1.00,NaN,NaN,$1127.81,NaN,NaN,$1127.81,0%,$0.00,--,Yes,Yes,0.05%,--,--,--,--,--,Cash and Money Market

In [182]:
df=df[df["Expiration/Maturity"]!="--"]
df

,Symbol,Description,Quantity,Price,Price Change $,Price Change %,Market Value,Day Change %,Day Change $,Cost Basis,Gain/Loss %,Gain/Loss $,Ratings,Reinvest Dividends?,Capital Gains?,% Of Account,Expiration/Maturity,Dividend Yield,Last Dividend,Ex-Dividend Date,Intrinsic Value,Security Type
0,61690DBB3,MORGAN STANLEY BA 5.2%25CD FDIC INS DUE 01/06/...,"33,000",$99.7283,-$0.0004,NaN,$32910.34,NaN,-$0.13,$33000.00,-0.27%,-$89.66,NR / NR,No,--,10.52%,01/06/2025,--,--,--,--,Fixed Income
1,912796ZN2,US TREASURY BILL23U S T BILL DUE 12/28/23,"33,000",$99.44003,$0.04421,0.04%,$32815.21,0.04%,$14.59,$31561.86,3.97%,$1253.35,NR / NR,No,--,10.49%,12/28/2023,--,--,--,--,Fixed Income
2,912810ET1,US TREASURY 7.625%02/25UST BOND DUE 02/15/25,"31,000",$102.95312,-$0.01562,-0.02%,$31915.47,-0.02%,-$4.84,$31973.09,-0.18%,-$57.62,NR / Aaa,No,--,10.2%,02/15/2025,--,--,--,--,Fixed Income
3,912828D56,US TREASU NT 2.375%08/24UST NOTE DUE 08/15/24,"71,000",$97.85938,$0.01562,0.02%,$69480.16,0.02%,$11.09,$69139.89,0.49%,$340.27,NR / Aaa,No,--,22.21%,08/15/2024,--,--,--,--,Fixed Income
4,912828V23,US TREASUR NT 2.25%12/23UST NOTE DUE 12/31/23,"17,000",$99.625,$0.03125,0.03%,$16936.25,0.03%,$5.31,$16702.5,1.4%,$233.75,NR / Aaa,No,--,5.41%,12/31/2023,--,--,--,--,Fixed Income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,91282CGD7,US TREASUR NT 4.25%12/24UST NOTE DUE 12/31/24,"75,000",$98.92188,-$0.01562,-0.02%,$74191.41,-0.02%,-$11.72,$74207.81,-0.02%,-$16.4,NR / Aaa,No,--,3%,12/31/2024,--,--,--,--,Fixed Income
37,91282CGG0,US TREASU NT 4.125%01/25UST NOTE DUE 01/31/25,"255,000",$98.75,-$0.03125,-0.03%,$251812.5,-0.03%,-$79.69,$253105.01,-0.51%,-$1292.51,NR / Aaa,No,--,10.17%,01/31/2025,--,--,--,--,Fixed Income
38,91282CGU9,US TREASU NT 3.875%03/25UST NOTE DUE 03/31/25,"75,000",$98.32812,-$0.03125,-0.03%,$73746.09,-0.03%,-$23.44,$73832.68,-0.12%,-$86.59,NR / Aaa,No,--,2.98%,03/31/2025,--,--,--,--,Fixed Income
39,91282CHD6,US TREASUR NT 4.25%05/25UST NOTE DUE 05/31/25,"96,000",$98.79688,-$0.0625,-0.06%,$94845.00,-0.06%,-$60.00,$95527.32,-0.71%,-$682.32,NR / Aaa,No,--,3.83%,05/31/2025,--,--,--,--,Fixed Income
40,91282CJB8,US TREASUR NT 5%09/25UST NOTE DUE 09/30/25,"75,000",$100.09375,-$0.09375,-0.09%,$75070.31,-0.09%,-$70.31,$74853.55,0.29%,$216.76,NR / Aaa,No,--,3.03%,09/30/2025,--,--,--,--,Fixed Income

In [183]:
from datetime import datetime

df.loc[:,("maturity")] = pd.to_datetime(df["Expiration/Maturity"])
df.loc[:,("Quantity")] = df["Quantity"].str.replace(',','')
df=df[["maturity","Quantity"]]

df

     maturity Quantity
0  2025-01-06    33000
1  2023-12-28    33000
2  2025-02-15    31000
3  2024-08-15    71000
4  2023-12-31    17000
..        ...      ...
36 2024-12-31    75000
37 2025-01-31   255000
38 2025-03-31    75000
39 2025-05-31    96000
40 2025-09-30    75000

[73 rows x 2 columns]

In [184]:
pd.date_range(df["maturity"].min(),df["maturity"].max(),freq='90D')

DatetimeIndex(['2023-11-21', '2024-02-19', '2024-05-19', '2024-08-17',
               '2024-11-15', '2025-02-13', '2025-05-14', '2025-08-12',
               '2025-11-10', '2026-02-08', '2026-05-09', '2026-08-07',
               '2026-11-05', '2027-02-03', '2027-05-04', '2027-08-02',
               '2027-10-31', '2028-01-29', '2028-04-28', '2028-07-27',
               '2028-10-25', '2029-01-23', '2029-04-23', '2029-07-22',
               '2029-10-20', '2030-01-18', '2030-04-18', '2030-07-17',
               '2030-10-15', '2031-01-13', '2031-04-13', '2031-07-12',
               '2031-10-10', '2032-01-08', '2032-04-07', '2032-07-06',
               '2032-10-04', '2033-01-02', '2033-04-02', '2033-07-01',
               '2033-09-29', '2033-12-28', '2034-03-28', '2034-06-26',
               '2034-09-24', '2034-12-23', '2035-03-23', '2035-06-21',
               '2035-09-19', '2035-12-18', '2036-03-17', '2036-06-15',
               '2036-09-13', '2036-12-12', '2037-03-12', '2037-06-10',
               '2037-09-08', '2037-12-07', '2038-03-07', '2038-06-05',
               '2038-09-03', '2038-12-02', '2039-03-02', '2039-05-31',
               '2039-08-29', '2039-11-27', '2040-02-25', '2040-05-25',
               '2040-08-23', '2040-11-21', '2041-02-19'],
              dtype='datetime64[ns]', freq='90D')

In [185]:
#df=df.set_index(['maturity'])
display(df)
#print(df5['maturity'].min())
#print(df5['maturity'].max())

#print(df5.index)
#print(d.index)
#d2 = d.asfreq(freq='90D',fill_value=42)
#display(d)
#display(d2)

idx = pd.date_range(df["maturity"].min(),df["maturity"].max(),freq='90D')
df = df.set_index(["maturity"])
display(df)

#display(idx)
display(df.ffill())
#df = df.reindex(idx)
#df = df.asfreq('d',fill_value=0)
#display(d3)
#df6['id'] = range(1,1+len(df6))
#df6.insert(0,'id',range(1,1 + len(df6)))
#df6=df6.set_index('id')
##display(df6)
#df.reset_index(inplace=True)
#df.set_index('maturity', drop=False)
display(df)

     maturity Quantity
0  2025-01-06    33000
1  2023-12-28    33000
2  2025-02-15    31000
3  2024-08-15    71000
4  2023-12-31    17000
..        ...      ...
36 2024-12-31    75000
37 2025-01-31   255000
38 2025-03-31    75000
39 2025-05-31    96000
40 2025-09-30    75000

[73 rows x 2 columns]

           Quantity
maturity
2025-01-06    33000
2023-12-28    33000
2025-02-15    31000
2024-08-15    71000
2023-12-31    17000
...             ...
2024-12-31    75000
2025-01-31   255000
2025-03-31    75000
2025-05-31    96000
2025-09-30    75000

[73 rows x 1 columns]

           Quantity
maturity
2025-01-06    33000
2023-12-28    33000
2025-02-15    31000
2024-08-15    71000
2023-12-31    17000
...             ...
2024-12-31    75000
2025-01-31   255000
2025-03-31    75000
2025-05-31    96000
2025-09-30    75000

[73 rows x 1 columns]

           Quantity
maturity
2025-01-06    33000
2023-12-28    33000
2025-02-15    31000
2024-08-15    71000
2023-12-31    17000
...             ...
2024-12-31    75000
2025-01-31   255000
2025-03-31    75000
2025-05-31    96000
2025-09-30    75000

[73 rows x 1 columns]

In [ ]:
df.loc[:,("maturityq")] = pd.PeriodIndex(df["maturity"], freq='Q')
df=df.sort_values(by=["maturity"],ascending=True)
##display(df)
df.loc[:,("Quantityi")] = df["Quantity"].astype(int)
df = df[["maturityq","Quantityi"]]
df
results = df.groupby(by=['maturityq']).sum()
display(results)

In [ ]:
d = df5.set_index('maturity')
#display(d)
idx = pd.date_range(d.index.min(),d.index.max(),freq='90D')
#display(idx)
#display(idx)
#display(pd.PeriodIndex(idx, freq='Q'))
#d.index = pd.to_datetime(d.index, format='%Y-%m-%d')
#print(idx.size)
#print(type(idx))
#print(pd.PeriodIndex(df4["maturity"], freq='Q'))
#pidx = pd.PeriodIndex(df4["maturity"], freq='Q')
print('miss:',idx.difference(d.index))
#print('pmiss:',pidx.difference(d.index))
d2=d.reindex(idx,method='bfill')
#display(d)
#display(d2)

In [ ]:
maxrows = pd.get_option('display.max_rows')

#print(df6.index)
#print(df6.columns)

#display(df6)
df6.loc[:,("maturityq")] = pd.PeriodIndex(df6["maturity"], freq='Q')
#display(df6)
d  = df6.set_index('maturityq')
##print(d.index)
#display(d)
d=d[["Quantityi"]]
#display(d)

results = d.groupby(by=['maturityq']).sum()
pd.set_option('display.max_rows', 999)
display(results)
pd.set_option('display.max_rows', maxrows)

In [ ]:
with open('lindarollover.csv', 'r') as fin:
    data = fin.read().splitlines(True)

data = data[2:]
data = data[:-2]
with open('lindarollover2.csv', 'w') as fout:
    fout.writelines(data)

In [ ]:
df = pd.read_csv('lindarollover2.csv')
#df["Expiration/Maturity"]
df2=df[["Symbol","Description","Quantity","Expiration/Maturity"]]
df2

df3=df2.sort_values(by=["Expiration/Maturity"],ascending=False)
df3

In [ ]:
df6 = (df5.set_index('maturity')
       .reindex(pd.date_range(start='12/31/2022', end='12/31/2033', freq='QS'))
       .rename_axis(['maturity'])
       .fillna(0)
       .reset_index())

#df6