In [16]:
print(42)

42

In [3]:
import pandas as pd

In [98]:
df = pd.read_csv('ira.csv')

In [18]:
df.head()

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount
0,05/12/2023,Sell,TFC,TRUIST FINL CORP,22,$27.30,NaN,$600.60
1,05/12/2023,Sell,CCI,CROWN CASTLE INC REIT,14,$116.6706,$0.01,$1633.38
2,05/12/2023,Sell,CME,CME GROUP INC CLASS A,11,$184.752,$0.02,$2032.25
3,05/12/2023,Sell,693475BP9,PNC FINL SVCS GR 6.25%,"3,000",$84.7937,NaN,$2575.58
4,05/12/2023,Sell,48128BAN1,JPMORGAN CHASE & 3.65%,"3,000",$86.2667,NaN,$2610.81

In [61]:
df.query('Symbol == "912796ZE2"')

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount
53,05/11/2023,Full Redemption Adj,912796ZE2,US TREASURY BILXXX**MATURED**,NaN,NaN,NaN,$24000.00
54,05/11/2023,Full Redemption,912796ZE2,US TREASURY BILXXX**MATURED**,"-24,000",NaN,NaN,NaN
242,11/10/2022,Buy,912796ZE2,US TREASURY BILL23U S T BILL DUE 05/11/23,"24,000",$97.8407,NaN,-$23481.78

In [99]:
df['Gains']=df['Quantity'].replace('[\$,]', '', regex=True).astype(float)+(df['Amount'].replace('[\$,]', '', regex=True).astype(float))

In [100]:
df

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount,Gains
0,05/12/2023,Sell,TFC,TRUIST FINL CORP,22,$27.30,NaN,$600.60,622.60
1,05/12/2023,Sell,CCI,CROWN CASTLE INC REIT,14,$116.6706,$0.01,$1633.38,1647.38
2,05/12/2023,Sell,CME,CME GROUP INC CLASS A,11,$184.752,$0.02,$2032.25,2043.25
3,05/12/2023,Sell,693475BP9,PNC FINL SVCS GR 6.25%,"3,000",$84.7937,NaN,$2575.58,5575.58
4,05/12/2023,Sell,48128BAN1,JPMORGAN CHASE & 3.65%,"3,000",$86.2667,NaN,$2610.81,5610.81
...,...,...,...,...,...,...,...,...,...
3458,05/20/2019,Cash Dividend,ET,ENERGY TRANSFER LP,NaN,NaN,NaN,$29.28,NaN
3459,05/16/2019,Qualified Dividend,AAPL,APPLE INC,NaN,NaN,NaN,$30.80,NaN
3460,05/16/2019 as of 05/15/2019,Bank Interest,NaN,BANK INT 041619-051519 SCHWAB BANK,NaN,NaN,NaN,$1.98,NaN
3461,05/15/2019,Cash Dividend,PAA,PLAINS ALL AMERICAN P LP,NaN,NaN,NaN,$18.00,NaN
3462,05/15/2019,Qualified Dividend,PG,PROCTER & GAMBLE,NaN,NaN,NaN,$74.59,NaN

In [101]:
dfbuy=df.query('Description.str.contains("US TREASURY") and Action=="Buy"')
dfbuy

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount,Gains
56,05/09/2023,Buy,912796CX5,US TREASURY BILL24U S T BILL DUE 04/18/24,"100,000",$95.5782,NaN,-$95578.17,4421.83
71,04/28/2023,Buy,912797GF8,US TREASURY BILL23U S T BILL DUE 08/08/23,"180,000",$98.6422,NaN,-$177555.94,2444.06
202,02/23/2023,Buy,912796ZF9,US TREASURY BILL23U S T BILL DUE 05/25/23,"24,000",$98.8268,NaN,-$23718.42,281.58
214,02/08/2023,Buy,912796XY0,US TREASURY BILL23U S T BILL DUE 08/10/23,"218,000",$97.6085,NaN,-$212786.46,5213.54
239,11/10/2022,Buy,912796XZ7,US TREASURY BILL23U S T BILL DUE 02/09/23,"5,000",$99.0162,NaN,-$4950.81,49.19
242,11/10/2022,Buy,912796ZE2,US TREASURY BILL23U S T BILL DUE 05/11/23,"24,000",$97.8407,NaN,-$23481.78,518.22
243,11/10/2022,Buy,912796Y60,US TREASURY BILL23U S T BILL DUE 02/21/23,"24,000",$98.8847,NaN,-$23732.33,267.67
261,10/26/2022,Buy,912796YV5,US TREASURY BILL23U S T BILL DUE 04/27/23,"178,000",$97.8273,NaN,-$174132.73,3867.27
293,07/28/2022,Buy,912796W54,US TREASURY BILL22U S T BILL DUE 11/10/22,"70,000",$99.3022,NaN,-$69511.55,488.45
467,03/21/2022,Buy,912796W88,US TREASURY BILL22U S T BILL DUE 07/05/22,"25,000",$99.8574,NaN,-$24964.37,35.63

In [90]:
dfgains=dfbuy['Quantity'].replace('[\$,]', '', regex=True).astype(float)+(dfbuy['Amount'].replace('[\$,]', '', regex=True).astype(float))
#df[df.columns[1:]] = df[df.columns[1:]].replace('[\$,]', '', regex=True).astype(float)

In [91]:
dfgains

56     4421.83
71     2444.06
202     281.58
214    5213.54
239      49.19
242     518.22
243     267.67
261    3867.27
293     488.45
467      35.63
dtype: float64

In [76]:
dfgains.index

Index([56, 71, 202, 214, 239, 242, 243, 261, 293, 467], dtype='int64')