In [175]:
import pandas as pd

In [176]:
with open('ira.csv', 'r') as fin:
    data = fin.read().splitlines(True)

data = data[1:]
data = data[:-1]
with open('ira2.csv', 'w') as fout:
    fout.writelines(data)

In [177]:
df = pd.read_csv('ira2.csv')

In [178]:
dfira = pd.read_csv('ira2.csv')

In [179]:
dfira['Gains']=dfira['Quantity'].replace('[\$,]', '', regex=True).astype(float)+(dfira['Amount'].replace('[\$,]', '', regex=True).astype(float))

In [180]:
dfira['TDate']=dfira['Description'].str.extract(r'(US TREASURY BILL23U S T BILL DUE )(.*)')[1]

In [181]:
# ira account gains
dfbuyira=dfira.query('Description.str.contains("US TREASURY") and Action=="Buy" and not TDate.isnull()')
dfbuyira

,Date,Action,Symbol,Description,Quantity,Price,Fees & Comm,Amount,Gains,TDate
3,05/11/2023,Buy,912796YT0,US TREASURY BILL23U S T BILL DUE 11/02/23,"73,000",$97.6474,NaN,-$71282.62,1717.38,11/02/23
46,11/14/2022,Buy,912796ZE2,US TREASURY BILL23U S T BILL DUE 05/11/23,"72,000",$97.8474,NaN,-$70450.19,1549.81,05/11/23

In [182]:
# ira total gains
dfbuyira['Gains'].sum()

3267.1900000000023